<div class="hero-unit">
  <h1>欢迎来到Microblog</h1>
  <p>Microblog是一个基于 Node.js 的微薄系统</p>
  <p>
	<a class="btn btn-primary btn-large" href="/login">登录</a>
	<a class="btn btn-large" href="/reg">立即注册</a>
  </p>
</div>


<div class="row">
  <div class="span4">
    <h2>Carbo 说</h2>
    <p>东风破早美，冰雪无人见</p>
  </div>
  <div class="span4">
    <h2>BYVoid 说</h2>
    <p>Open Chinese conver 是一个开发中文见项目</p>
  </div>
  <div class="span4">
    <h2>BYVoid 说</h2>
    <p>Open Chinese conver 是一个开发中文见项目</p>
  </div>
</div>
